/* stili personalizzati per la pagina */

.ms-container {
    border: 1px dashed black;
    min-height: 300px;
}
.ms-height {
    min-height: 200px;
}
.ms-nav-height, .small-height {
    min-height: 60px;
}
.ms_section {
    padding: 80px 0;
    background-color: #1ABC9C;
}
.ms_title-color {
    color: #2C2C2C;
}
.ms_padding-bottom {
    padding-bottom: 9px;
}
#download {
    padding-right: 3.5px;
}
.ms_myimg {
    width: 200px;
}
.ms_padding-section {
    padding: 45px 0 80px;
}
.ms_mybutton {
    background-color: #1ABC9C;
    padding-bottom: 9px;
    border-color: #1ABC9C;
}
button.ms_mybutton:hover {
    background-color: #12977d;
    border-color: transparent;
}